body {
	margin: 0px;
	padding: 0px;
	h1 {
		font-family: 'Cormorant Garamond', serif;
		font-style: italic;
		font-weight: bold;
		margin: 0;
	}
	p {
		font-family: 'Fira Sans', sans-serif;
	}
}

.darkContainer {
	background-color: black;
	color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.lightContainer {
	background-color: white;
	color: black;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.fa {
	font-size: 20px;
	margin: 0 10px;
}

@media screen and (min-width: 500px) {
	.header {
		margin: 0 -20px;
		height: 5vh;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.main-content {
		height: 95vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;

		h1 {
			font-size: 50px;
		}

		p {
			font-size: 20px;
		}

		.text-container {
			flex: 1;
			margin: 0 10px;
		}

		.profile-picture {
			flex: 1;
			justify-content: flex-end;
			img {
				float: right;
				margin: 0 10px;
				height: 70vh;
				width: auto;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.header {
		height: 5vh;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.main-content {
		height: 95vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		h1 {
			font-size: 40px;
		}

		p {
			font-size: 15px;
		}

		.text-container {
			flex: 1;
			margin: 0 10px;
			width: 90vw;
		}

		.profile-picture {
			flex: 1;
			justify-content: flex-end;
			padding: 10px;
			img {
				float: right;
				margin: 0 10px;
				height: 500px;
				width: auto;
			}
		}
	}
}
